# REDIS
REDIS_USERNAME # Redis username
REDIS_PASSWORD # Redis password
REDIS_DB_NUMBER # Redis database number
REDIS_HOST # Redis host
REDIS_PORT # Redis port
REDIS_TLS_PORT # Redis tls port
REDIS_SSL_CERT_PATH # Redis server certificate
REDIS_SSL_KEY_PATH # Redis server private key
REDIS_SSL_CA_PATH # Redis ca certificate
REDIS_STORAGE_PATH # Redis storage path
REDIS_CONFIG_TEMPLATE_PATH # Path to redis config template
REDIS_CONFIG_PATH # Path to redis config
REDIS_ORIGINAL_ENTRYPOINT_PATH # Path to original redis entrypoint
