# MONGO-EXPRESS
MONGO_EXPRESS_HOST='0.0.0.0'
MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_DEFAULT_EMAIL=email@email.com
MONGO_EXPRESS_DEFAULT_PASSWORD=password
MONGO_EXPRESS_COOKIE_SECRET=cookiesecret
MONGO_EXPRESS_SESSION_SECRET=sessionsecret
MONGO_EXPRESS_SSL_CERT_PEM_PATH=/etc/ssl/mongoexpress/server.pem
MONGO_EXPRESS_SSL_CERT_PATH=/etc/ssl/mongoexpress/server.crt
MONGO_EXPRESS_SSL_KEY_PATH=/etc/ssl/mongoexpress/server.key
MONGO_EXPRESS_SSL_CA_PATH=/etc/ssl/ca/ca.pem
MONGO_EXPRESS_CONFIG_TEMPLATE_PATH=/etc/templates/mongoexpress/mongoexpress.js.template
MONGO_EXPRESS_CONFIG_PATH=/app/config.default.js
MONGO_EXPRESS_CONNECT_TEMPLATE_PATH=/etc/templates/mongoexpress/connect.js.template
MONGO_EXPRESS_CONNECT_PATH=/app/lib/db.js
MONGO_EXPRESS_ORIGINAL_ENTRYPOINT_PATH=/docker-entrypoint.sh
PARSER_MONGO_CONNECTION_NAME=TwitchParser
PARSER_MONGO_HOST=parser-mongo
PARSER_MONGO_PORT=27017
PARSER_MONGO_USER=username
PARSER_MONGO_PASS=password
PARSER_MONGO_DB=Twitch
