# MONGO-EXPRESS
ME_CONFIG_MONGODB_URL=","

_MONGO_EXPRESS_CONFIG_TEMPLATE_PATH=/etc/templates/mongoexpress/mongoexpress.js.template
_MONGO_EXPRESS_CONFIG_PATH=/app/config.default.js
_MONGO_EXPRESS_CONNECT_TEMPLATE_PATH=/etc/templates/mongoexpress/connect.js.template
_MONGO_EXPRESS_CONNECT_PATH=/app/lib/db.js
_MONGO_EXPRESS_ORIGINAL_ENTRYPOINT_PATH=/docker-entrypoint.sh

_MONGO_EXPRESS_HOST='0.0.0.0'
_MONGO_EXPRESS_PORT=8081
_MONGO_EXPRESS_COOKIE_SECRET=cookiesecret
_MONGO_EXPRESS_SESSION_SECRET=sessionsecret
_MONGO_EXPRESS_SSL_CERT_PEM_PATH=/etc/ssl/mongoexpress/server.pem
_MONGO_EXPRESS_SSL_CERT_PATH=/etc/ssl/mongoexpress/server.crt
_MONGO_EXPRESS_SSL_KEY_PATH=/etc/ssl/mongoexpress/server.key
_MONGO_EXPRESS_SSL_CA_PATH=/etc/ssl/ca/ca.pem
_MONGO_EXPRESS_DEFAULT_EMAIL=email@email.com
_MONGO_EXPRESS_DEFAULT_PASSWORD=password

_PARSER_MONGO_CONNECTION_NAME=TwitchParser
_PARSER_MONGO_HOST=parser-mongo
_PARSER_MONGO_PORT=27017
_PARSER_MONGO_USER=username
_PARSER_MONGO_PASS=password
_PARSER_MONGO_DB=Twitch
