# COMPOSE COMMON
COMPOSE_COMMON_PGADMIN # Path to common pgadmin docker compose manifest.
COMPOSE_COMMON_MONGO_EXPRESS # Path to common mongo express docker compose manifest.
COMPOSE_COMMON_REDIS_INSIGHT # Path to common redis insight docker compose manifest.

# COMPOSE TWITCH PARSER SERVICE
COMPOSE_TWT_PARSER_POSTGRES # Path to twitch parser postgres docker compose manifest.
COMPOSE_TWT_PARSER_MONGO # Path to twitch parser mongo docker compose manifest.
COMPOSE_TWT_PARSER_REDIS # Path to twitch parser redis docker compose manifest.
