# COMMON
.vscode
.compose-data

# CERTS
**/*.crt
**/*.key
**/*.srl
**/*.csr
**/*.pem
!**/*.example.crt
!**/*.example.key
!**/*.example.srl
!**/*.example.csr
!**/*.example.pem

# ENV
**/.env
!**/.env.example
