# ENTRYPOINT
_PARSER_CONFIG_TEMPLATE_PATH=/etc/templates/parser/parser.conf.template
_PARSER_CONFIG_PATH=/etc/parser/parser.conf

# PARSER CONFIG
_PARSER_LISTEN_ADDRESS=twitch-parser
_PARSER_LISTEN_PORT=8000
_PARSER_SSL_KEY_PATH=/etc/ssl/parser/server.key
_PARSER_SSL_CRT_PATH=/etc/ssl/parser/server.crt
_PARSER_SSL_CA_CRT_PATH=/etc/ssl/ca/ca.crt
