x509map    ${_IDENT_PARSER_POSTGRES_DN}        ${_IDENT_PARSER_POSTGRES_USER}
x509map    ${_IDENT_PGADMIN_DN}                ${_IDENT_PGADMIN_USER}
x509map    ${_IDENT_TWITCH_PARSER_DN}          ${_IDENT_TWITCH_PARSER_USER}
