# Addresses that postgres listen
listen_addresses = ${_CONFIG_POSTGRES_HOST}

# Postgres port
port = ${_CONFIG_POSTGRES_PORT}

# Disable unix socket
unix_socket_directories = ''

# Password encryption
password_encryption = scram-sha-256

# Cache size
shared_buffers = 4GB

# WAL buffer size
wal_buffers = 128MB

# WAL file max size
max_wal_size = 4GB

# WAL file min size
min_wal_size = 1GB

# Time spent flushing dirty buffers during checkpoint
checkpoint_completion_target = 0.9

# How often to write WAL data from buffer
wal_writer_delay = 400ms

# Transaction considered as commited before flush WAL buffer
synchronous_commit = off

# How often the autovacuum daemon checks for tables that require vacuuming or analyzing
autovacuum_naptime = 5min

# Number of autovacuum worker processes that can run simultaneously
autovacuum_max_workers = 8

# Amount of memory allocated for internal sort operations and hash tables used by queries
work_mem = 16MB

# This parameter determines the maximum number of background worker processes that can be started by postgres
max_worker_processes = 8

# This option specifies the maximum number of parallel workers that can be used for query execution
max_parallel_workers = 8

# This setting controls how many parallel workers can be used per gather node in a query plan
max_parallel_workers_per_gather = 4

# This parameter defines the maximum number of parallel workers that can be used for maintenance operations, such as creating indexes or running vacuum commands
max_parallel_maintenance_workers = 4

# Use ssl connections (but allow and non-ssl)
ssl = on

# Postgres server certificate
ssl_cert_file = ${_CONFIG_POSTGRES_SSL_CERT_PATH}

# Postgres server private key
ssl_key_file = ${_CONFIG_POSTGRES_SSL_KEY_PATH}

# CA certificate
ssl_ca_file = ${_CONFIG_POSTGRES_SSL_CA_PATH}

# TLS version
ssl_min_protocol_version='TLSv1.3'

# TLSv1.3 ciphersuites
# ECDHE/DHE for key exchange (forward secrecy); AES-256-GCM for symmetric encryption and data authentication; SHA-384 for key derivation and integrity verification (via PRF);
# ECDHE/DHE for key exchange (forward secrecy); ChaCha20 for symmetric encryption; Poly1305 for data authentication (MAC); SHA-256 for key derivation and integrity verification (via PRF).
# ECDHE/DHE for key exchange (forward secrecy); AES-128-GCM for symmetric encryption and data authentication; SHA-256 for key derivation and integrity verification (via PRF).
ssl_tls13_ciphers = 'TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256'

# When choosing a cipher, use the server's preference instead of the client preference
ssl_prefer_server_ciphers = on

# Log in stderr
log_destination = stderr

# Log from WARNING severity
log_min_messages = WARNING

# Log statements from ERROR severity
log_min_error_statement = ERROR

# Log all statements if longer than
log_min_duration_statement = 250ms

# Log autovacuum of longer than
log_autovacuum_min_duration = 250ms

# Log checkpoints
log_checkpoints = on

# Do not log connections (authentication, authorization, etc...)
log_connections = ''

# Do not log disconnections
log_disconnections = off

# Timezone of the logs
log_timezone = 'UTC'

# Format of the logs
log_line_prefix = '[%m] [PID %p] '

# Data location for postgresql
data_directory = ${_CONFIG_POSTGRES_STORAGE_PATH}

# Path to pg_hba file
hba_file = ${_CONFIG_POSTGRES_HBA_CONFIG_PATH}

# Path to pg_ident file
ident_file = ${_CONFIG_POSTGRES_IDENT_CONFIG_PATH}
