# POSTGRES
POSTGRES_PORT # Postgres port
POSTGRES_HOST_IP # Postgres host ip
POSTGRES_USER # Postgres user
POSTGRES_DB # Postgres database
POSTGRES_CPUS_LIMIT # Postgres cpus limit (max cpu value)
POSTGRES_MEMORY_LIMIT # Postgres memory limit (max memory value)
POSTGRES_CPUS_RESERVATION # Postgres cpus reservation (min cpu value)
POSTGRES_MEMORY_RESERVATION # Postgres memory reservation (min memory value)
POSTGRES_IP_ADDRESS # Postgres ip address
POSTGRES_NETWORK_SUBNET # Postgres network subnet
POSTGRES_NETWORK_IP_RANGE # Postgres network ip range (min and max ip address in a subnet)
POSTGRES_NETWORK_GATEWAY # Postgres network gateway
POSTGRES_DATA_SIZE # Postgres data size
POSTGRES_CONFIG_SIZE # Postgres config size
POSTGRES_VOLUME_UID # Postgres uid for volume
POSTGRES_VOLUME_GID # Postgres gid for volume

# MONGO
MONGO_PORT # Mongo port
MONGO_HOST_IP # Mongo host ip
MONGO_CPUS_LIMIT # Mongo cpus limit (max cpu value)
MONGO_MEMORY_LIMIT # Mongo memory limit (max memory value)
MONGO_CPUS_RESERVATION # Mongo cpus reservation (min cpu value)
MONGO_MEMORY_RESERVATION # Mongo memory reservation (min memory value)
MONGO_IP_ADDRESS # Mongo ip address
MONGO_NETWORK_SUBNET # Mongo network subnet
MONGO_NETWORK_IP_RANGE # Mongo network ip range (min and max ip address in a subnet)
MONGO_NETWORK_GATEWAY # Mongo network gateway
MONGO_DATA_SIZE # Mongo data size
MONGO_CONFIG_SIZE # Mongo config size
MONGO_VOLUME_UID # Mongo uid for volume
MONGO_VOLUME_GID # Mongo gid for volume

# REDIS
REDIS_USERNAME # Redis username
REDIS_PASSWORD # Redis password
REDIS_PORT # Redis port
REDIS_TLS_PORT # Redis tls port
REDIS_HOST_IP # Redis host ip
REDIS_CPUS_LIMIT # Redis cpus limit (max cpu value)
REDIS_MEMORY_LIMIT # Redis memory limit (max memory value)
REDIS_CPUS_RESERVATION # Redis cpus reservation (min cpu value)
REDIS_MEMORY_RESERVATION # Redis memory reservation (min memory value)
REDIS_IP_ADDRESS # Redis ip address
REDIS_NETWORK_SUBNET # Redis network subnet
REDIS_NETWORK_IP_RANGE # Redis network ip range (min and max ip address in a subnet)
REDIS_NETWORK_GATEWAY # Redis network gateway
REDIS_DATA_SIZE # Redis data size
REDIS_CONFIG_SIZE # Redis config size
REDIS_VOLUME_UID # Redis uid for volume
REDIS_VOLUME_GID # Redis gid for volume
