# PGADMIN
PGADMIN_DEFAULT_EMAIL # PGAdmin default email
PGADMIN_DEFAULT_PASSWORD # PGAdmin default password
PGADMIN_ENABLE_TLS # Enable tls
PGADMIN_LISTEN_ADDRESS # PGAdmin listen address
PGADMIN_LISTEN_PORT # PGAdmin listen port
PGADMIN_ALLOWED_HOSTS # PGAdmin allowed hosts
PGADMIN_SSL_CERT_PATH # PGAdmin ssl cert path
PGADMIN_SSL_KEY_PATH # PGAdmin ssl key path
PGADMIN_SSL_CA_PATH # PGAdmin ssl ca path
PGADMIN_STORAGE_PATH # PGAdmin storage path
PGADMIN_CONF_TEMPLATE_PATH # PGAdmin config template path
PGADMIN_CONF_PATH # PGAdmin config path
PGADMIN_SERVERS_TEMPLATE_PATH # PGAdmin servers template path
PGADMIN_SERVERS_PATH # PGAdmin servers path
PARSER_POSTGRES_CONNECTION_NAME # Parser postgres connection name
PARSER_POSTGRES_HOST # Parser postgres host
PARSER_POSTGRES_PORT # Parser postgres port
PARSER_POSTGRES_USER # Parser postgres user
PARSER_POSTGRES_DB # Parser postgres db
