# PGADMIN
PGADMIN_DEFAULT_EMAIL # PGAdmin default email
PGADMIN_DEFAULT_PASSWORD # PGAdmin default password
PGADMIN_ENABLE_TLS # Enable tls
PGADMIN_LISTEN_ADDRESS # PGAdmin listen address
PGADMIN_LISTEN_PORT # PGAdmin listen port
PGADMIN_ALLOWED_HOSTS # PGAdmin allowed hosts
PARSER_POSTGRES_CONNECTION_NAME # Parser postgres connection name
PARSER_POSTGRES_HOST # Parser postgres host
PARSER_POSTGRES_PORT # Parser postgres port
PARSER_POSTGRES_USER # Parser postgres user
PARSER_POSTGRES_DB # Parser postgres db
