worker_processes auto;
pid /tmp/nginx.pid;

events {
    worker_connections 768;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    client_body_temp_path /tmp/client_temp;
    proxy_temp_path       /tmp/proxy_temp_path;
    fastcgi_temp_path     /tmp/fastcgi_temp;
    uwsgi_temp_path       /tmp/uwsgi_temp;
    scgi_temp_path        /tmp/scgi_temp;

    server {
        listen ${_REDIS_INSIGHT_PROXY_PORT};
        server_name ${_REDIS_INSIGHT_PROXY_HOST};

        ssl_certificate ${_REDIS_INSIGHT_PROXY_SSL_CERT_PATH};
        ssl_certificate_key ${_REDIS_INSIGHT_PROXY_SSL_KEY_PATH};
        ssl_client_certificate ${_REDIS_INSIGHT_PROXY_SSL_CA_PATH};
        ssl_protocols TLSv1.3;

        location / {
            auth_basic "Redis Insight";
            auth_basic_user_file ${_REDIS_INSIGHT_PROXY_BASIC_AUTH_FILE_PASS};
            proxy_pass ${_REDIS_INSIGHT_PROXY_PASS};
            proxy_set_header Host §host;
            proxy_set_header X-Real-IP §remote_addr;
            proxy_set_header X-Forwarded-For §proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto §scheme;
            proxy_read_timeout 900;
        }

        error_log /tmp/error.log;
        access_log /tmp/access.log;
    }
}
