# MONGO
MONGO_INITDB_ROOT_USERNAME # Mongo root username
MONGO_INITDB_ROOT_PASSWORD # Mongo root password
MONGO_INITDB_DATABASE # Mongo initial database name
MONGO_HOST # Mongo host
MONGO_PORT # Mongo port
MONGO_SSL_CERT_PATH # Mongo server certificate
MONGO_SSL_CA_PATH # Mongo CA certificate
MONGO_STORAGE_PATH # Mongo storage path
MONGO_CONFIG_TEMPLATE_PATH # Path to mongo config template
MONGO_CONFIG_PATH # Path to mongo config
MONGO_ORIGINAL_ENTRYPOINT_PATH # Path to original mongo entrypoint
