CONFIG_FILEPATH=/etc/redpanda/redpanda.yaml
_REDPANDA_CONFIG_TEMPLATE_PATH=/etc/templates/redpanda/redpanda.yaml
_REDPANDA_CONFIG_PATH=/etc/redpanda/redpanda.yaml
_REDPANDA_SSL_CERT_PATH=/etc/ssl/redpanda/server.crt
_REDPANDA_SSL_KEY_PATH=/etc/ssl/redpanda/server.key
_REDPANDA_SSL_CA_PATH=/etc/ssl/ca/ca.crt
_REDPANDA_JWT_SECRET=supersecret
_REDPANDA_USERNAME=username
_REDPANDA_PASSWORD=password
_REDPANDA_LISTEN_ADDRESS=0.0.0.0
_REDPANDA_PORT=8080
_REDPANDA_TLS_PORT=8081
_REDPANDA_ADVERTISED_PORT=30504
_REDPANDA_ALLOWED_ORIGINS='["localhost:30504", "localhost:30505", "https://ui.redpanda.par"]'
_KAFKA_SERVERS=kafka:9092
