# REDPANDA INTERNAL
CONFIG_FILEPATH=/app/redpanda.yaml

# REDPANDA ENTRYPOINT
_REDPANDA_CONFIG_TEMPLATE_PATH=/etc/templates/redpanda/redpanda.yaml
_REDPANDA_CONFIG_PATH=/app/redpanda.yaml

# REDPANDA CONFIG
_REDPANDA_SSL_CERT_PATH=/etc/ssl/redpanda/server.crt
_REDPANDA_SSL_KEY_PATH=/etc/ssl/redpanda/server.key
_REDPANDA_SSL_CA_PATH=/etc/ssl/ca/ca.crt
_REDPANDA_JWT_SECRET=supersecret
_REDPANDA_LISTEN_ADDRESS=0.0.0.0
_REDPANDA_PORT=8080
_REDPANDA_ALLOWED_ORIGINS='["localhost"]'

# REDPANDA CONFIG (KAFKA)
_KAFKA_SERVERS=kafka:9092
