-- This executes if the data folder is empty otherwise it is not executed

-- Create databases
CREATE DATABASE ${_INIT_TWITCH_PARSER_DATABASE};

-- Create users with passwords
CREATE USER ${_INIT_TWITCH_PARSER_USER} WITH PASSWORD ${_INIT_TWITCH_PARSER_PASSWORD};
CREATE USER ${_INIT_PGADMIN_USER} WITH PASSWORD ${_INIT_PGADMIN_PASSWORD};

-- Grant all privileges on the databases to users
GRANT ALL PRIVILEGES ON DATABASE ${_INIT_TWITCH_PARSER_DATABASE} TO ${_INIT_TWITCH_PARSER_USER};
GRANT ALL PRIVILEGES ON DATABASE ${_INIT_TWITCH_PARSER_DATABASE} TO ${_INIT_PGADMIN_USER};

-- Connect specific database
\c ${_INIT_TWITCH_PARSER_DATABASE}

-- Grant all privileges on the public schema of specific to users
GRANT ALL ON SCHEMA public TO ${_INIT_TWITCH_PARSER_USER};
GRANT ALL ON SCHEMA public TO ${_INIT_PGADMIN_USER};
