# PGADMIN
PGADMIN_DEFAULT_EMAIL=email@email.com
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_ENABLE_TLS=1
PGADMIN_LISTEN_ADDRESS=0.0.0.0
PGADMIN_LISTEN_PORT=5400

_PGADMIN_CONFIG_TEMPLATE_PATH=/etc/templates/pgadmin/pgadmin.py.template
_PGADMIN_CONFIG_PATH=/pgadmin4/config_local.py
_PGADMIN_SERVERS_TEMPLATE_PATH=/etc/templates/pgadmin/servers.json.template
_PGADMIN_SERVERS_PATH=/pgadmin4/servers.json

_PGADMIN_ALLOWED_HOSTS="['127.0.0.1', 'localhost', 'pgadmin']"
_PGADMIN_STORAGE_PATH="'/storage/pgadmin'"
_PGADMIN_SSL_CERT_PATH=/certs/server.cert
_PGADMIN_SSL_KEY_PATH=/certs/server.key
_PGADMIN_SSL_CA_PATH=<STORAGE_DIR>/.postgresql/root.crt

_PARSER_POSTGRES_CONNECTION_NAME=TwitchParser
_PARSER_POSTGRES_HOST=parser-postgres
_PARSER_POSTGRES_PORT=5432
_PARSER_POSTGRES_USER=username
_PARSER_POSTGRES_DB=Twitch
