# The role of this server (only in KRaft mode)
process.roles=broker,controller

# The node id associated with this instance's roles
node.id=1

# The address the socket server listens on
listeners=${_KAFKA_LISTENERS}

# Listener name, hostname and port the broker or the controller will advertise to clients
advertised.listeners=${_KAFKA_ADVERTISED_LISTENERS}

# Name of listener used for communication between brokers
inter.broker.listener.name=${_KAFKA_INTER_BROKER_LISTENER_NAME}

# A comma-separated list of the names of the listeners used by the controller
controller.listener.names=${_KAFKA_CONTROLLER_NAME}

# Maps listener names to security protocols, the default is for them to be the same
listener.security.protocol.map=${_KAFKA_SECURITY_PROTOCOL_MAP}

# The connect string for the controller quorum
controller.quorum.voters=${_KAFKA_QUORUM_VOTERS}

# Keystore location
ssl.keystore.location=${_KAFKA_KEYSTORE_PATH}

# Keystore password
ssl.keystore.password=${_KAFKA_KEYSTORE_PASSWORD}

# Truststore location
ssl.truststore.location=${_KAFKA_TRUSTSTORE_PATH}

# Truststore password
ssl.truststore.password=${_KAFKA_TRUSTSTORE_PASSWORD}

# SSL Authentication is required for broker listener
listener.name.broker.ssl.client.auth=required

# SSL Authentication is required for controller listener
listener.name.controller.ssl.client.auth=required

# TLS versions
ssl.enabled.protocols=TLSv1.3

# TLSv1.3 ciphersuites
# ECDHE/DHE for key exchange (forward secrecy); AES-256-GCM for symmetric encryption and data authentication; SHA-384 for key derivation and integrity verification (via PRF);
# ECDHE/DHE for key exchange (forward secrecy); ChaCha20 for symmetric encryption; Poly1305 for data authentication (MAC); SHA-256 for key derivation and integrity verification (via PRF).
# ECDHE/DHE for key exchange (forward secrecy); AES-128-GCM for symmetric encryption and data authentication; SHA-256 for key derivation and integrity verification (via PRF).
ssl.cipher.suites=TLS_AES_256_GCM_SHA384,TLS_CHACHA20_POLY1305_SHA256,TLS_AES_128_GCM_SHA256

# The number of threads that the server uses for receiving requests from the network and sending responses to the network
num.network.threads=4

# The number of threads that the server uses for processing requests, which may include disk I/O
num.io.threads=8

# The send buffer (SO_SNDBUF) used by the socket server
socket.send.buffer.bytes=102400

# The receive buffer (SO_RCVBUF) used by the socket server
socket.receive.buffer.bytes=102400

# The maximum size of a request that the socket server will accept (protection against OOM)
socket.request.max.bytes=104857600

# A comma separated list of directories under which to store log data files
log.dirs=${_KAFKA_LOG_DATA_PATH}

# The default number of log partitions per topic
num.partitions=3

# The number of threads per data directory to be used for log recovery at startup and flushing at shutdown
num.recovery.threads.per.data.dir=1

# Replication factor for the offsets topic
offsets.topic.replication.factor=1

# Replication factor for the transaction state log
transaction.state.log.replication.factor=1

# Minimum in-sync replicas for the transaction state log
transaction.state.log.min.isr=1

# The minimum age of a log file to be eligible for deletion due to age
log.retention.hours=168

# The maximum size of a log segment file. When this size is reached a new log segment will be created
log.segment.bytes=1073741824

# The interval at which log segments are checked to see if they can be deleted according to the retention policies
log.retention.check.interval.ms=300000
