# MONGO
MONGO_INITDB_ROOT_USERNAME=username
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=Twitch
_MONGO_HOST='"*"'
_MONGO_PORT=27017
_MONGO_SSL_CERT_PATH=/etc/ssl/mongo/server.pem
_MONGO_SSL_CA_PATH=/etc/ssl/ca/ca.pem
_MONGO_STORAGE_PATH=/storage/mongo
_MONGO_CONFIG_TEMPLATE_PATH=/etc/templates/mongo/mongo.conf.template
_MONGO_CONFIG_PATH=/etc/mongo/mongo.conf
_MONGO_ORIGINAL_ENTRYPOINT_PATH=/usr/local/bin/docker-entrypoint.sh
