# Addresses that redis listen
bind ${_REDIS_HOST}

# Disable redis plain connection
port 0

# Redis tls port
tls-port ${_REDIS_PORT}

# Allow only tls connections
tls-auth-clients yes

# Redis server certificate
tls-cert-file ${_REDIS_SSL_CERT_PATH}

# Redis server private key
tls-key-file ${_REDIS_SSL_KEY_PATH}

# CA client certificate
tls-ca-cert-file ${_REDIS_SSL_CA_PATH}

# TLS version
tls-protocols "TLSv1.3"

# TLSv1.3 ciphersuites
# ECDHE/DHE for key exchange (forward secrecy); AES-256-GCM for symmetric encryption and data authentication; SHA-384 for key derivation and integrity verification (via PRF);
# ECDHE/DHE for key exchange (forward secrecy); ChaCha20 for symmetric encryption; Poly1305 for data authentication (MAC); SHA-256 for key derivation and integrity verification (via PRF).
# ECDHE/DHE for key exchange (forward secrecy); AES-128-GCM for symmetric encryption and data authentication; SHA-256 for key derivation and integrity verification (via PRF).
tls-ciphersuites TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256

# When choosing a cipher, use the server's preference instead of the client preference
tls-prefer-server-ciphers yes

# Log only warnings and errors
loglevel notice

# Support only 8 databases
databases 8

# Make snapshots of the database (every 3600s if >=1 key has changed; 300s if >=100 key have changed; 60s if >=10000 keys have changed)
save 3600 1 300 100 60 10000

# Number of threads that handle client requests
io-threads 8

# When write use threads, when read not
io-threads-do-reads no

# Data location for redis
dir ${_REDIS_STORAGE_PATH}

# Here should be auth method, but Redis 7.4 does not suport auth mechanisms
