# Use server mode
SERVER_MODE = False

# As web server use python
WEB_SERVER = 'Python'

# Hosts that can access pgadmin
ALLOWED_HOSTS = ${_CONFIG_PGADMIN_ALLOWED_HOSTS}

# WTF CSRF check default
WTF_CSRF_CHECK_DEFAULT = 0

# WTF CSRF enabled
WTF_CSRF_ENABLED = 0

# Allow save password
ALLOW_SAVE_PASSWORD = True

# Does not require password to enter pgadmin
MASTER_PASSWORD_REQUIRED = False

# Data location for pgadmin
DATA_DIR = ${_CONFIG_PGADMIN_STORAGE_PATH}
