# KAFKA ENTRYPOINT
_KAFKA_CONFIG_TEMPLATE_PATH=/etc/templates/kafka/kafka.conf.template
_KAFKA_CONFIG_PATH=/mnt/shared/config/server.properties
_KAFKA_ORIGINAL_ENTRYPOINT_PATH=/__cacert_entrypoint.sh

# KAFKA CONFIG
_KAFKA_LISTENERS=BROKER://kafka:9092,CONTROLLER://kafka:9093
_KAFKA_ADVERTISED_LISTENERS=BROKER://kafka:9092
_KAFKA_INTER_BROKER_LISTENER_NAME=BROKER
_KAFKA_CONTROLLER_NAME=CONTROLLER
_KAFKA_SECURITY_PROTOCOL_MAP=BROKER:SSL,CONTROLLER:SSL
_KAFKA_QUORUM_VOTERS=1@kafka:9093
_KAFKA_KEYSTORE_PATH=/etc/ssl/kafka/keystore.p12
_KAFKA_KEYSTORE_PASSWORD=password
_KAFKA_TRUSTSTORE_PATH=/etc/ssl/kafka/truststore.p12
_KAFKA_TRUSTSTORE_PASSWORD=password
_KAFKA_LOG_DATA_PATH=/storage/kafka
