KAFKA_LISTENERS=BROKER://kafka:9092,CONTROLLER://kafka:9093
KAFKA_ADVERTISED_LISTENERS=BROKER://kafka:9092
KAFKA_INTER_BROKER_LISTENER_NAME=BROKER
KAFKA_CONTROLLER_NAME=CONTROLLER
KAFKA_SECURITY_PROTOCOL_MAP=BROKER:SSL,CONTROLLER:SSL
KAFKA_QUORUM_VOTERS=1@kafka:9093
KAFKA_KEYSTORE_PATH=/etc/ssl/kafka/keystore.p12
KAFKA_KEYSTORE_PASSWORD=password
KAFKA_TRUSTSTORE_PATH=/etc/ssl/kafka/truststore.p12
KAFKA_TRUSTSTORE_PASSWORD=password
KAFKA_LOG_DATA_PATH=/storage/kafka
KAFKA_CONFIG_TEMPLATE_PATH=/etc/templates/kafka/kafka.conf.template
KAFKA_CONFIG_PATH=/mnt/shared/config/server.properties
KAFKA_ORIGINAL_ENTRYPOINT_PATH=/__cacert_entrypoint.sh
