systemLog:
  # Log only errors
  verbosity: 0

processManagement:
  # This option determines whether the MongoDB server runs as a daemon (in the background)
  fork: false

net:
  # Addresses that mongo listen
  bindIp: ${_MONGO_HOST}

  # Mongo port
  port: ${_MONGO_PORT}

  tls:
    # The server uses and accepts only TLS encrypted connections
    mode: requireTLS

    # All clients must provide client TLS certificates
    allowConnectionsWithoutCertificates: false

    # Enable the validation checks for TLS certificates
    allowInvalidCertificates: false

    # Enable the validation of the hostnames in TLS certificates
    allowInvalidHostnames: false

    # Mongo server certificate and private key
    certificateKeyFile: ${_MONGO_SSL_CRT_KEY_PATH}

    # CA client certificate
    CAFile: ${_MONGO_SSL_CA_PATH}

    # Which TLS protocols should be disabled
    disabledProtocols: TLS1_0,TLS1_1,TLS1_2

storage:
  # Data location for mongodb
  dbPath: ${_MONGO_STORAGE_PATH}

setParameter:
  # TLSv1.3 ciphersuites
  # ECDHE/DHE for key exchange (forward secrecy); AES-256-GCM for symmetric encryption and data authentication; SHA-384 for key derivation and integrity verification (via PRF);
  # ECDHE/DHE for key exchange (forward secrecy); ChaCha20 for symmetric encryption; Poly1305 for data authentication (MAC); SHA-256 for key derivation and integrity verification (via PRF).
  # ECDHE/DHE for key exchange (forward secrecy); AES-128-GCM for symmetric encryption and data authentication; SHA-256 for key derivation and integrity verification (via PRF).
  opensslCipherSuiteConfig: TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256
