# POSTGRES
POSTGRES_USER # Postgres user
POSTGRES_PASSWORD # Postgres password
POSTGRES_DB # Postgres database
PGDATA # Postgres data directory
POSTGRES_HOST # Postgres host
POSTGRES_PORT # Postgres port
POSTGRES_SSL_CERT_PATH # Postgres server certificate
POSTGRES_SSL_KEY_PATH # Postgres server private key
POSTGRES_SSL_CA_PATH # Postgres ca certificate
POSTGRES_STORAGE_PATH # Postgres storage path
POSTGRES_CONFIG_TEMPLATE_PATH # Path to postgres config template
POSTGRES_CONFIG_PATH # Path to postgres config
POSTGRES_ORIGINAL_ENTRYPOINT_PATH # Path to original postgres entrypoint
