# REDIS INTERNAL
REDIS_USERNAME=username
REDIS_PASSWORD=password
REDIS_DB_NUMBER=0

# REDIS ENTRYPOINT
_REDIS_CONFIG_TEMPLATE_PATH=/etc/templates/redis/redis.conf.template
_REDIS_CONFIG_PATH=/etc/redis/redis.conf
_REDIS_ORIGINAL_ENTRYPOINT_PATH=/usr/local/bin/docker-entrypoint.sh

# REDIS CONFIG
_REDIS_HOST=192.168.53.1
_REDIS_PORT=6379
_REDIS_SSL_CERT_PATH=/etc/ssl/redis/server.crt
_REDIS_SSL_KEY_PATH=/etc/ssl/redis/server.key
_REDIS_SSL_CA_PATH=/etc/ssl/ca/ca.crt
_REDIS_STORAGE_PATH=/storage/redis
