# REDIS
REDIS_USERNAME=username
REDIS_PASSWORD=password
REDIS_DB_NUMBER=0
REDIS_HOST="* -::*"
REDIS_PORT=6379
REDIS_TLS_PORT=7379
REDIS_SSL_CERT_PATH=/etc/ssl/redis/server.crt
REDIS_SSL_KEY_PATH=/etc/ssl/redis/server.key
REDIS_SSL_CA_PATH=/etc/ssl/ca/ca.crt
REDIS_STORAGE_PATH=/storage/redis
REDIS_CONFIG_TEMPLATE_PATH=/etc/templates/redis/redis.conf.template
REDIS_CONFIG_PATH=/etc/redis/redis.conf
REDIS_ORIGINAL_ENTRYPOINT_PATH=/usr/local/bin/docker-entrypoint.sh
