# REDIS INSIGHT
RI_APP_HOST # Redis insight host
RI_APP_PORT # Redis insight port
RI_ENCRYPTION_KEY # Redis insight encryption key
RI_DEFAULT_EMAIL # Redis insight default email
RI_DEFAULT_PASSWORD # Redis insight default password
RI_SSL_CERT_PATH # Redis insight cert path
RI_SSL_KEY_PATH # Redis insight key path
RI_SSL_CA_PATH # Redis insight ca path
RI_CONFIG_TEMPLATE_PATH # Redis insight config template path
RI_CONFIG_PATH # Redis insight config path
RI_PROXY_HOST # Redis insight proxy host
RI_PROXY_PORT # Redis insight proxy port
RI_PROXY_PASS # Redis insight proxy pass
RI_PROXY_SSL_CERT_PATH # Redis insight proxy cert path
RI_PROXY_SSL_KEY_PATH # Redis insight proxy key path
RI_PROXY_SSL_CA_PATH # Redis insight proxy ca path
RI_PROXY_BASIC_AUTH_FILE_PASS # Redis insight proxy basic auth file pass
RI_PROXY_CONFIG_TEMPLATE_PATH # Redis insight proxy config template path
RI_PROXY_CONFIG_PATH # Redis insight proxy config path
PARSER_REDIS_CONNECTION_NAME # Parser redis connection name
PARSER_REDIS_HOST # Parser redis host
PARSER_REDIS_PORT # Parser redis port
PARSER_REDIS_USER # Parser redis user
PARSER_REDIS_PASS # Parser redis pass
