# REDIS INSIGHT
RI_APP_HOST # Redis insight host
RI_APP_PORT # Redis insight port
RI_ENCRYPTION_KEY # Redis insight encryption key
RI_DEFAULT_EMAIL # Redis insight default email
RI_DEFAULT_PASSWORD # Redis insight default password
PARSER_REDIS_PASSWORD # Parser redis password
RI_PROXY_HOST # Redis insight proxy host
RI_PROXY_PORT # Redis insight proxy port
RI_PROXY_PASS # Redis insight proxy pass
