# MONGO-EXPRESS
MONGO_EXPRESS_HOST # Mongo express host
MONGO_EXPRESS_PORT # Mongo express port
MONGO_EXPRESS_DEFAULT_EMAIL # Mongo express default email
MONGO_EXPRESS_DEFAULT_PASSWORD # Mongo express default password
MONGO_EXPRESS_COOKIE_SECRET # Mongo express cookie secret
MONGO_EXPRESS_SESSION_SECRET # Mongo express session secret
MONGO_EXPRESS_SSL_CERT_PEM_PATH # Mongo express ssl cert pem path
MONGO_EXPRESS_SSL_CERT_PATH # Mongo express ssl cert path
MONGO_EXPRESS_SSL_KEY_PATH # Mongo express ssl key path
MONGO_EXPRESS_SSL_CA_PATH # Mongo express ssl ca path
MONGO_EXPRESS_CONFIG_TEMPLATE_PATH # Mongo express config template path
MONGO_EXPRESS_CONFIG_PATH # Mongo express config path
MONGO_EXPRESS_CONNECT_TEMPLATE_PATH # Mongo express connect template path
MONGO_EXPRESS_CONNECT_PATH # Mongo express connect path
MONGO_EXPRESS_ORIGINAL_ENTRYPOINT_PATH # Mongo express original entrypoint path
PARSER_MONGO_CONNECTION_NAME # Parser mongo connection name
PARSER_MONGO_HOST # Parser mongo host
PARSER_MONGO_PORT # Parser mongo port
PARSER_MONGO_USER # Parser mongo user
PARSER_MONGO_PASS # Parser mongo password
PARSER_MONGO_DB # Parser mongo database
