# REDIS INSIGHT ENTRYPOINT
_REDIS_INSIGHT_CONFIG_TEMPLATE_PATH=/etc/templates/redisinsight/redisinsight.conf.template
_REDIS_INSIGHT_CONFIG_PATH=/usr/src/app/default.conf
_REDIS_INSIGHT_SSL_CERT_PATH=/etc/ssl/redisinsight/server.crt
_REDIS_INSIGHT_SSL_KEY_PATH=/etc/ssl/redisinsight/server.key
_REDIS_INSIGHT_SSL_CA_PATH=/etc/ssl/ca/ca.crt
_REDIS_INSIGHT_ADDRESS=https://redis-insight:5540


# REDIS INSIGHT CONFIG
_REDIS_INSIGHT_APP_HOST=0.0.0.0
_REDIS_INSIGHT_APP_PORT=5540
_REDIS_INSIGHT_ENCRYPTION_KEY=secretkey

# REDIS INSIGHT CONFIG (PARSER REDIS)
_PARSER_REDIS_CONNECTION_NAME=TwitchParser
_PARSER_REDIS_HOST=parser-redis
_PARSER_REDIS_PORT=6379
_PARSER_REDIS_USER=username
_PARSER_REDIS_PASS=password
