# REDIS INSIGHT
REDIS_INSIGHT_APP_HOST=0.0.0.0
REDIS_INSIGHT_APP_PORT=5540
REDIS_INSIGHT_ENCRYPTION_KEY=secretkey
REDIS_INSIGHT_DEFAULT_EMAIL=email@email.com
REDIS_INSIGHT_DEFAULT_PASSWORD=password
REDIS_INSIGHT_SSL_CERT_PATH=/etc/ssl/redisinsight/server.crt
REDIS_INSIGHT_SSL_KEY_PATH=/etc/ssl/redisinsight/server.key
REDIS_INSIGHT_SSL_CA_PATH=/etc/ssl/ca/ca.crt
REDIS_INSIGHT_CONFIG_TEMPLATE_PATH=/etc/templates/redisinsight/default.conf.template
REDIS_INSIGHT_CONFIG_PATH=/usr/src/app/default.conf
REDIS_INSIGHT_PROXY_HOST='localhost 127.0.0.1'
REDIS_INSIGHT_PROXY_PORT='5450 ssl'
REDIS_INSIGHT_PROXY_PASS='https://redis-insight:5540'
REDIS_INSIGHT_PROXY_SSL_CERT_PATH=/etc/nginx/ssl/server.crt
REDIS_INSIGHT_PROXY_SSL_KEY_PATH=/etc/nginx/ssl/server.key
REDIS_INSIGHT_PROXY_SSL_CA_PATH=/etc/ssl/ca/ca.crt
REDIS_INSIGHT_PROXY_BASIC_AUTH_FILE_PASS=/tmp/.htpasswd
REDIS_INSIGHT_PROXY_CONFIG_TEMPLATE_PATH=/etc/templates/nginx/nginx.conf.template
REDIS_INSIGHT_PROXY_CONFIG_PATH=/etc/nginx/nginx.conf
PARSER_REDIS_CONNECTION_NAME=TwitchParser
PARSER_REDIS_HOST=parser-redis
PARSER_REDIS_PORT=7379
PARSER_REDIS_USER=username
PARSER_REDIS_PASS=password
