# Redis insight host
RI_APP_HOST=${_REDIS_INSIGHT_APP_HOST}

# Redis insight port
RI_APP_PORT=${_REDIS_INSIGHT_APP_PORT}

# Redis insight encryption key
RI_ENCRYPTION_KEY=${_REDIS_INSIGHT_ENCRYPTION_KEY}

# Redis insight server TLS cert
RI_SERVER_TLS_CERT=${_REDIS_INSIGHT_SSL_CERT_PATH}

# Redis insight server TLS key
RI_SERVER_TLS_KEY=${_REDIS_INSIGHT_SSL_KEY_PATH}

# From which level RI should log
RI_LOG_LEVEL=info

# Whether to log to file
RI_FILES_LOGGER=true

# Whether to log to stdout
RI_STDOUT_LOGGER=true

# Path added to host+port to access redis insight
RI_PROXY_PATH=/
