# PGADMIN
PGADMIN_HOST # Pgadmin host
PGADMIN_PORT # Pgadmin port
PGADMIN_PUBLIC_PORT # Pgadmin public port
PGADMIN_HOST_IP # Pgadmin host IP
PGADMIN_CPUS_LIMIT # Pgadmin CPUs limit
PGADMIN_MEMORY_LIMIT # Pgadmin memory limit
PGADMIN_CPUS_RESERVATION # Pgadmin CPUs reservation
PGADMIN_MEMORY_RESERVATION # Pgadmin memory reservation
PGADMIN_IP_ADDRESS # Pgadmin IP address
PGADMIN_NETWORK_SUBNET # Pgadmin network subnet
PGADMIN_NETWORK_IP_RANGE # Pgadmin network IP range
PGADMIN_NETWORK_GATEWAY # Pgadmin network gateway
PGADMIN_DATA_SIZE # Pgadmin data size
PGADMIN_VOLUME_UID # Pgadmin uid for volume
PGADMIN_VOLUME_GID # Pgadmin gid for volume

# MONGO_EXPRESS
MONGO_EXPRESS_HOST # Mongo express host
MONGO_EXPRESS_PORT # Mongo express port
MONGO_EXPRESS_PUBLIC_PORT # Mongo express public port
MONGO_EXPRESS_HOST_IP # Mongo express host IP
MONGO_EXPRESS_CPUS_LIMIT # Mongo express CPUs limit
MONGO_EXPRESS_MEMORY_LIMIT # Mongo express memory limit
MONGO_EXPRESS_CPUS_RESERVATION # Mongo express CPUs reservation
MONGO_EXPRESS_MEMORY_RESERVATION # Mongo express memory reservation
MONGO_EXPRESS_IP_ADDRESS # Mongo express IP address
MONGO_EXPRESS_NETWORK_SUBNET # Mongo express network subnet
MONGO_EXPRESS_NETWORK_IP_RANGE # Mongo express network IP range
MONGO_EXPRESS_NETWORK_GATEWAY # Mongo express network gateway
MONGOE_DATA_SIZE # Mongo express data size
MONGOE_VOLUME_UID # Mongo uid for volume
MONGOE_VOLUME_GID # Mongo gid for volume

# REDIS_INSIGHT
RI_DEFAULT_EMAIL # Redis insight default email
RI_DEFAULT_PASSWORD # Redis insight default password
REDIS_INSIGHT_HOST # Redis insight host
REDIS_INSIGHT_PORT # Redis insight port
REDIS_INSIGHT_CPUS_LIMIT # Redis insight CPUs limit
REDIS_INSIGHT_MEMORY_LIMIT # Redis insight memory limit
REDIS_INSIGHT_CPUS_RESERVATION # Redis insight CPUs reservation
REDIS_INSIGHT_MEMORY_RESERVATION # Redis insight memory reservation
REDIS_INSIGHT_IP_ADDRESS # Redis insight IP address
RI_CURL_CPUS_LIMIT # Redis insight curl CPUs limit
RI_CURL_MEMORY_LIMIT # Redis insight curl memory limit
RI_CURL_CPUS_RESERVATION # Redis insight curl CPUs reservation
RI_CURL_MEMORY_RESERVATION # Redis insight curl memory reservation
RI_CURL_IP_ADDRESS # Redis insight curl IP address
RI_NGINX_HOST # Redis insight nginx host
RI_NGINX_PORT # Redis insight nginx port
RI_NGINX_PUBLIC_PORT # Redis insight nginx public port
RI_NGINX_HOST_IP # Redis insight nginx host IP
RI_NGINX_CPUS_LIMIT # Redis insight nginx CPUs limit
RI_NGINX_MEMORY_LIMIT # Redis insight nginx memory limit
RI_NGINX_CPUS_RESERVATION # Redis insight nginx CPUs reservation
RI_NGINX_MEMORY_RESERVATION # Redis insight nginx memory reservation
RI_NGINX_IP_ADDRESS # Redis insight nginx IP address
REDIS_INSIGHT_NETWORK_SUBNET # Redis insight network subnet
REDIS_INSIGHT_NETWORK_IP_RANGE # Redis insight network IP range
REDIS_INSIGHT_NETWORK_GATEWAY # Redis insight network gateway
REDISI_DATA_SIZE # Redis insight data size
REDISI_VOLUME_UID # Redis insight uid for volume
REDISI_VOLUME_GID # Redis insight gid for volume

# KAFKA
KAFKA_HOST # Kafka host
KAFKA_PORT # Kafka port
KAFKA_PUBLIC_PORT # Kafka public port
KAFKA_HOST_IP # Kafka host IP
KAFKA_CPUS_LIMIT # Kafka CPUs limit
KAFKA_MEMORY_LIMIT # Kafka memory limit
KAFKA_CPUS_RESERVATION # Kafka CPUs reservation
KAFKA_MEMORY_RESERVATION # Kafka memory reservation
KAFKA_IP_ADDRESS # Kafka IP address
KAFKA_NETWORK_SUBNET # Kafka network subnet
KAFKA_NETWORK_IP_RANGE # Kafka network IP range
KAFKA_NETWORK_GATEWAY # Kafka network gateway
