# POSTGRES INTERNAL
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=Twitch
PGDATA=/storage/postgres

# POSTGRES ENTRYPOINT
_POSTGRES_CONFIG_TEMPLATE_PATH=/etc/templates/postgres/postgres.conf.template
_POSTGRES_CONFIG_PATH=/etc/postgres/postgres.conf
_POSTGRES_HBA_TEMPLATE_PATH=/etc/templates/postgres/pg_hba.conf.template
_POSTGRES_HBA_PATH=/etc/postgres/pg_hba.conf
_POSTGRES_ORIGINAL_ENTRYPOINT_PATH=/usr/local/bin/docker-entrypoint.sh

# POSTGRES CONFIG
_POSTGRES_HOST="'parser-postgres'"
_POSTGRES_PORT=5432
_POSTGRES_SSL_CERT_PATH="'/etc/ssl/postgres/server.crt'"
_POSTGRES_SSL_KEY_PATH="'/etc/ssl/postgres/server.key'"
_POSTGRES_SSL_CA_PATH="'/etc/ssl/ca/ca.crt'"
_POSTGRES_STORAGE_PATH="'/storage/postgres'"
_POSTGRES_HBA_CONFIG_PATH="'/etc/postgres/pg_hba.conf'"

# POSTGRES HBA
_POSTGRES_NETWORK="192.168.51.0/24"
