# POSTGRES
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=Twitch
PGDATA=/storage/postgres
POSTGRES_HOST="'*'"
POSTGRES_PORT=5432
POSTGRES_SSL_CERT_PATH="'/etc/ssl/postgres/server.crt'"
POSTGRES_SSL_KEY_PATH="'/etc/ssl/postgres/server.key'"
POSTGRES_SSL_CA_PATH="'/etc/ssl/ca/ca.crt'"
POSTGRES_STORAGE_PATH="'/storage/postgres'"
POSTGRES_CONFIG_TEMPLATE_PATH=/etc/templates/postgres/postgres.conf.template
POSTGRES_CONFIG_PATH=/etc/postgres/postgres.conf
POSTGRES_ORIGINAL_ENTRYPOINT_PATH=/usr/local/bin/docker-entrypoint.sh
